*{
    background-color: black;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    align-items: center;
    padding: 1rem;
}
button{
    width: 200px;
    padding: 1rem;
    font-size: larger;
    font-weight: bolder;
    border: none;
    border: 2px solid #11B0C8;
    border-radius: 8px;
    cursor: pointer;
}
button:hover{
    box-shadow: 0px 4px 7px rgb(149, 235, 243);
}
span{
    color: #11B0C8;
}

.div_search{
    text-align: center;
    
}
.div_search h1{
    margin-bottom: 1rem;
    
}
select{
    padding: 0.5rem;
    border: none;
    border:2px solid #11B0C8;
    width: 90%;
    cursor: pointer;
    
}

@media screen and (min-width:1200px) {
    main{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        
    }
    .div_search h1{
        margin-bottom: 1rem;
        font-size: 3rem;
    }
    select{
        padding: 0.8rem;
        font-size: 1.5rem;
    }
    .stage div{
        font-size: 2rem;
    }
}