*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    background-image:url("images_memoryGame/Game\ Page\ \(1\).png") ;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    display: flex;

}
li{
    list-style-type: none;
    cursor: pointer;
}
#div_heros{
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    margin: auto;
    gap: 0.5rem;
    
}
.goku{
    transition: 2s;
    background-image: url("images_memoryGame/card-Goku.png") !important;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100px;
    height: 150px;

}
.boo{
    background-image: url("images_memoryGame/card-Boo.png");
}
.cell{
    background-image: url("images_memoryGame/card-Cell.png");
}
.freeza{
    background-image: url("images_memoryGame/card-Freeza.png");
}
.gohan{
    background-image: url("images_memoryGame/card-Gohan.png");
}
.kuririn{
    background-image: url("images_memoryGame/card-Kuririn.png");
}
.piccolo{
    background-image: url("images_memoryGame/card-Piccolo.png");
}
.satan{
    background-image: url("images_memoryGame/card-Satan-1.png");
}
.trunks{
    background-image: url("images_memoryGame/card-Trunks.png");
}
.vegeta{
    background-image: url("images_memoryGame/card-Vegeta.png");
}


.cartaComun{
    background-image: url("images_memoryGame/Rectangle\ 2.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 115px;
    height: 150px;
}